#grad {
    background-image: linear-gradient(to bottom right, #4b134f, #c94b4b);
    height: 1000px;
  }

body{
    font-family: 'Josefin Sans', sans-serif;
}

a{
    color: rgb(231, 224, 224);
}

#main-box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 700px;
    width: 500px;
    border-radius: 3%;
    background-color: #DAC0A3;
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
}
.checked{
    text-decoration: line-through;
}

#write-task{
    width: 380px;
    height: 40px;
    border: 2px solid #F8F0E5;
    border-radius: 2%;
    font-weight: normal;
    font-size: 1.1rem;
}

.add-button{
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #4b134f;
    border-radius: 15%;
}


#list-text, #taskname{
    color: black;
    text-align: left;
    font-weight: normal;
    font-size: 1rem;
}


.list-box, .task{
    padding-top: 5px;
    color: black;
    text-align: left;
    font-weight: normal;
    font-size: 1rem;
    display: inline-block;
    width: 440px;
    height: 30px;
    background-color: #EADBC8;
    border: 2px solid #F8F0E5;
    margin-top: 10px;
    margin-left: -5px;
}

.delete, .done{
    margin-top: -8px;
    margin-left: 5px;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    border: 2px solid #4b134f;
    border-radius: 15%;
    
}

.my-name{
    text-align: center;
    color:beige
}

/* ------------------------------------------- */

@media (max-width: 481px){
    #main-box{
        margin-top: 25%;
        height: 500px;
        width: 300px;
        font-size: 1.2rem;
    }

    #write-task{
        width: 200px;
        height: 20px;
        font-size: 0.8rem;
    }
    
    .add-button{
        height: 28px;
        width: 30px;
        font-weight: bold;
        font-size: 10px;
        border: 1px solid #4b134f;
        border-radius: 15%;
    }
    #list-text, #taskname{
        color: black;
        text-align: left;
        font-weight: normal;
        font-size: 0.8rem;

    }
    
    .list-box, .task{
        padding-left: 2px;
        padding-top: 5px;
        font-size: 0.8rem;
        width: 250px;
        height: 20px;
        border: 1px solid #F8F0E5;
        margin-top: 10px;
        margin-left: 7px;
    }
    
    .delete, .done{
        position: relative;
        float: right;
        margin-top: -8px;
        margin-left: 5px;
        width: 32px;
        height: 28px;
        border: 1px solid #4b134f;
        border-radius: 15%;
        
    }

}
